{% extends "network/layout.html" %}
{% load static %}
{% block body %}

{% if user.is_authenticated %}
    <h1>{{ profile_user.username }}'s Profile</h1>

    {% if user_profile %}
        <!-- Existing profile (with image and about section) -->
        {% if user_profile.image %}
            <img id="pic" src="{{ user_profile.image.url }}" alt="Profile Image">
        {% else %}
            <p>No profile image available</p>
        {% endif %}
        <p>{{ user_profile.about }}</p>

        <!-- Allow updating of profile only if it's the current user -->
        {% if user == profile_user %}
            <h2>Update Your Profile</h2>
            <form action="{% url 'profile' profile_user.username %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }} <!-- Render the form fields -->
                <button type="submit">Update Profile</button>
            </form>
        {% endif %}
    {% else %}
        <!-- No profile, allow the user to create one -->
        {% if user == profile_user %}
            <h2>Create Your Profile</h2>
            <form action="{% url 'profile' profile_user.username %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Render the form fields -->
                <button type="submit">Create Profile</button>
            </form>
        {% else %}
            <p>This user has not set up a profile yet.</p>
        {% endif %}
    {% endif %}

    {% if user != profile_user %}
    <button class="btn follow-btn follow-btn-{{ profile_user.username }}" 
    data-username="{{profile_user.username}}">
    {% if user.is_authenticated %}
    {% if is_following %}
        Unfollow
    {% else %}
        Follow
    {% endif %}
{% else %}
    Follow
{% endif %}
    </button> 
       
    {% endif %}

    <div class="ml-5" style="display: inline-block;">
        <div class="border border-secondary rounded p-2" style="display: inline-block;">Followers: {{ followers_count }}</div>
        <div class="border border-secondary rounded ml-2 p-2" style="display: inline-block;">Following: {{ following_count }}</div>
    </div>

    <div class="p-3">
        <h2>Posts</h2>
        {% for post in posts %}
            <div class="border border-secondary rounded p-3 mt-2">
                <div>{{ post.content }}</div>
                <div>{{ post.timestamp }}</div>
            </div>
        {% empty %}
            <li>No posts available</li>
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}

        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    </div>
{% endif %}

{% endblock %}
