.like-btn, .follow-btn {
    background-color: #f7f3f3;
    border: 1px solid rgb(0, 102, 255); 
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.liked-heart {
    color: red;
}

.unliked-heart {
    color: black;
}
.like-btn i, .follow-btn i {
    font-size: 16px;
}

.follow-btn {
    border-radius: 5px;
    padding: 5px 10px;
    border-color: blue;
    color: blue;
}

.unfollow-btn {
    background-color: blue;
    color: white;
}
#pic {
    max-width: 100px; 
    max-height:150px; 
    width: auto; 
    height: auto; 
    border-radius: 100%;
    object-fit: cover;
}
